* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 10vh;
    width: 100%;
    background-color: whitesmoke;
    padding-left: 3%;
    align-items: center;
    display: flex;
    gap: 50px;
}

header .NavLink {
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

.active {
    color: green;
}

.NavLink:hover {
    color: red;
}

.homeBox {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeBoxChilde {
    width: 50%;
    height: 30vh;
    display: flex;
    justify-content: center;
}

.homeBoxChilde h1 {
    font-size: 6rem;
}

.box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1%;

}

.main-Box {
    width: 15%;
    height: 20vh;
    border: 1px solid black;
    padding-top: 2%;
    margin-bottom: 1%;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
}

h3 {
    margin-top: 2%;
}

.inputBox {
    width: 20%;
    height: 25vh;
    border: 1px solid black;
    padding-top: 1%;
    margin-bottom: 1%;
    justify-content: center;
    text-align: center;
}

.inputFileBox {
    margin: 2%;
}

.inputFileBox input {
    width: 20%;
    margin-bottom: 1%;
    padding: 1%;
}

.insart {
    padding: 1.5%;
    border-radius: 10px;
}

.insart:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}
span{
    color: gray;
}

.btn1 {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 10px;
    border: 2px solid black;
    margin: 5%;
    color: black;
    text-decoration: none;
}

.btn2 {
    padding: 2%;
    border-radius: 10px;
    border: 2px solid black;
    margin: 5%;
    color: black;
    text-decoration: none;
}

.update {
    padding: 1.5%;
    border-radius: 10px;
}

.delete {
    padding: 1.5%;
    border-radius: 10px;
}

.delete:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

.update:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

.btn1:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

.btn2:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}